form{
    display: block; 
    text-align: center;
}

label{
    color: aliceblue;
    text-align: center;
    display: block;
    font-size: 30px;
}

input{
    font-size: 30px;
    /*color: rgb(117, 117, 117);*/
    color:black;
    border-radius: 10px;
    width: 40%;
}

select{
    font-size: 30px;
    /*color: rgb(117, 117, 117);*/
    color:black;
    border-radius: 10px;
    width: 40%;
}

#save,#cancel{
    width: auto;
}


body{
    background-color: rgb(168, 156, 214);
}

#accounttype,#addMove{
    visibility: hidden;
    height: 0px;
}



#upForm{
    visibility: hidden;
}

#interestForm{
    visibility: hidden;
    height: 0px;
}

#submitForm{
    visibility: hidden;
}

table{
    width: 80%;
    float:none;


    text-align: center;
    color: aliceblue;
    background-color: rgb(75, 52, 71);
    border-radius: 15px;
}

th, td {
    padding: 10px;
    border-top: 1px solid aliceblue;
}
th{
    font-size: 20px;
}

td{
    font-size: 15px;
}

.btn-info {
    background-color: #72656c;
    border-color: #441d47;
    border: 1px solid;
    display: contents;
}