form{
    display: block; 
    text-align: center;
}

label{
    padding-right: 60px;
    text-align: center;
    display: block;
    font-size: 30px;
}

input{
    width: 300px;
    font-size: 30px;
}

body{
    background-color: rgb(168, 156, 214);
}

