body{
    /*background-color: rgb(168, 156, 214);*/
    background: rgb(110,32,237);
    background: linear-gradient(90deg, rgba(110,32,237,1) 0%, rgba(176,38,255,1) 78%);
}

#hi,#total,#usernick{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding: 10px;
}

.summ{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    float:inline-start;
    text-align: center;
    display: flex;
    height: 200px;
    min-height: auto;
}
/*
table {
    text-align: center;
    width: 300px;
    border-collapse: collapse;
}
*/
table, th, td {
    width: 100%;
    float:none;
    text-align: center;
    color: aliceblue;
    background-color: rgb(75, 52, 71);
    border-radius: 15px;

}

#mvtable{
    float: none;
    text-align: center;
    display: flex;
    padding-left: 15%;
    width: 70%;
}

#ccMoves{
    text-align: center;
}
th, td {
    padding: 10px;
}
th{
    font-size: 20px;
}

td{
    font-size: 15px;
}

#graph{
    size: 600px;
    width: 100%;
    padding-right: 40%;
    z-index: 0;
}

#graphCC,#graphInv,#container{
    width: 100%;
    margin-left: 10%;
    z-index: 0;
    color:rgba(255, 255, 255, 0);
}

#container{
    margin-left: 0%;
}